html {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: var(--color-black);
  font-size: 14px;
}

* {
  font-family: inherit;
}

#app {
  display: flex;
  justify-content: center;
}
