#map {
  width: 100vw;
  height: 100vh;

  .player-marker {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 426.667 426.667' xml:space='preserve'%3E%3Cpath d='M213.333,106.667c-58.88,0-106.667,47.787-106.667,106.667S154.453,320,213.333,320S320,272.213,320,213.333 S272.213,106.667,213.333,106.667z' fill='%23F0544F'/%3E%3Cpath d='M213.333,0C95.467,0,0,95.467,0,213.333s95.467,213.333,213.333,213.333S426.667,331.2,426.667,213.333 S331.2,0,213.333,0z M213.333,384c-94.293,0-170.667-76.373-170.667-170.667S119.04,42.667,213.333,42.667 S384,119.04,384,213.333S307.627,384,216.333,384z' fill='%233A3335'/%3E%3C/svg%3E%0A");
  }

  .target-marker {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg' fill='%23E48900'%3E%3Cpath d='m256 512c-141.160156 0-256-114.839844-256-256s114.839844-256 256-256 256 114.839844 256 256-114.839844 256-256 256zm0-475.429688c-120.992188 0-219.429688 98.4375-219.429688 219.429688s98.4375 219.429688 219.429688 219.429688 219.429688-98.4375 219.429688-219.429688-98.4375-219.429688-219.429688-219.429688zm0 0'/%3E%3Cpath d='m256 420.570312c-4.757812 0-9.507812-2.015624-12.984375-5.300781-3.292969-3.476562-5.300781-8.234375-5.300781-12.984375 0-4.757812 2.007812-9.507812 5.300781-12.980468 5.117187-5.125 13.351563-6.769532 19.929687-3.851563 2.199219.917969 4.207032 2.195313 6.039063 3.851563 3.285156 3.472656 5.300781 8.222656 5.300781 12.980468 0 4.75-2.019531 9.507813-5.300781 12.984375-1.832031 1.640625-3.839844 2.917969-6.039063 3.839844-2.195312.910156-4.570312 1.460937-6.945312 1.460937zm0 0'/%3E%3Cpath d='m256 347.429688c-10.097656 0-18.285156-8.1875-18.285156-18.285157v-201.144531c0-10.097656 8.1875-18.285156 18.285156-18.285156s18.285156 8.1875 18.285156 18.285156v201.144531c0 10.097657-8.1875 18.285157-18.285156 18.285157zm0 0'/%3E%3C/svg%3E");

    &_start {
      background-image: url("data:image/svg+xml,%3Csvg id='Capa_1' enable-background='new 0 0 512 512' viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cg%3E%3Cg clip-rule='evenodd' fill-rule='evenodd'%3E%3Cpath d='m37.5 67.5v377c0 16.441 13.559 30 30 30h377c16.441 0 30-13.559 30-30v-377c0-16.441-13.559-30-30-30h-377c-16.441 0-30 13.559-30 30z' fill='%2370e2bd'/%3E%3Cpath d='m444.5 474.5h-377c-16.441 0-30-13.559-30-30v-377c0-16.441 13.559-30 30-30h377c16.441 0 30 13.559 30 30v377c0 16.441-13.559 30-30 30zm0-467h-377c-33 0-60 27-60 60v377c0 33 27 60 60 60h377c33 0 60-27 60-60v-377c0-33-27-60-60-60z' fill='%23fff'/%3E%3Cpath d='m37.5 67.5v377c0 16.441 13.559 30 30 30h22.5c-16.441 0-30-13.559-30-30v-377c0-16.441 13.559-30 30-30h-22.5c-16.441 0-30 13.559-30 30z' fill='%230bcc89'/%3E%3C/g%3E%3Cg%3E%3Cpath d='m444.5 112.5h-15v-15h15zm0-30h-15v-15h15z' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cpath d='m416.942 299.413v-71.826h19.913v-15h-54.666v15h19.753v71.826z'/%3E%3Cpath d='m366.567 238.754c0-14.428-12.212-26.167-27.223-26.167h-26.598l-.014 86.825 15 .002.005-31.725 27.132 31.372 11.346-9.813-21.487-24.845c12.441-2.407 21.839-12.992 21.839-25.649zm-27.255 11.167-11.571.05.004-22.384h11.6c6.625 0 12.223 5.114 12.223 11.167-.001 6.053-5.598 11.167-12.256 11.167z'/%3E%3Cpath d='m107.674 284.413c-7.549 0-14.829-3.059-19.472-8.183l-5.036-5.558-11.115 10.072 5.036 5.558c7.439 8.209 18.874 13.111 30.587 13.111 14.187 0 26.555-9.35 28.769-21.749 1.683-9.425-2.67-21.766-19.936-28.135-9.061-3.342-17.479-6.987-19.805-8.007-1.898-1.443-2.814-3.712-2.462-6.165.222-1.548 1.325-5.326 6.75-6.96 10.868-3.272 20.794 4.573 21.125 4.839l5.713 4.802 9.652-11.482-5.741-4.826c-.653-.549-16.211-13.38-35.076-7.695-9.358 2.819-15.977 10.173-17.271 19.191-1.209 8.426 2.441 16.53 9.527 21.15.332.216.679.405 1.041.566.414.185 10.262 4.568 21.356 8.661 7.394 2.728 11.17 6.892 10.361 11.425-.824 4.613-6.287 9.385-14.003 9.385z'/%3E%3Cpath d='m189.449 299.413v-71.826h19.913v-15h-54.666v15h19.753v71.826z'/%3E%3Cpath d='m272.508 281.273 7.473 19.801 14.034-5.296-31.206-82.691-13.367.013-31.478 82.648 14.018 5.339 7.547-19.814zm-16.414-43.495 10.753 28.495h-21.606z'/%3E%3Cpath d='m30 97.5v347c0 20.678 16.822 37.5 37.5 37.5h377c20.678 0 37.5-16.822 37.5-37.5v-377c0-20.678-16.822-37.5-37.5-37.5h-377c-20.678 0-37.5 16.822-37.5 37.5v15h15v-15c0-12.196 10.304-22.5 22.5-22.5h377c12.196 0 22.5 10.304 22.5 22.5v377c0 12.196-10.304 22.5-22.5 22.5h-377c-12.196 0-22.5-10.304-22.5-22.5v-347z'/%3E%3Cpath d='m399.5 497h15v15h-15z'/%3E%3Cpath d='m444.5 0h-377c-37.22 0-67.5 30.28-67.5 67.5v377c0 37.22 30.28 67.5 67.5 67.5h317v-15h-317c-28.949 0-52.5-23.551-52.5-52.5v-377c0-28.949 23.551-52.5 52.5-52.5h377c28.949 0 52.5 23.551 52.5 52.5v377c0 28.949-23.551 52.5-52.5 52.5h-15v15h15c37.22 0 67.5-30.28 67.5-67.5v-377c0-37.22-30.28-67.5-67.5-67.5z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }

    &_adult {
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 328.863 328.863' style='enable-background:new 0 0 328.863 328.863;' xml:space='preserve' fill='%23BE0000'%3E%3Cpath d='M104.032,220.434V131.15H83.392V108.27h49.121v112.164H104.032z'/%3E%3Cpath d='M239.552,137.23c0,9.76-5.28,18.4-14.08,23.201c12.319,5.119,20,15.84,20,28.32c0,20.16-17.921,32.961-45.921,32.961 c-28.001,0-45.921-12.641-45.921-32.48c0-12.801,8.32-23.682,21.28-28.801c-9.44-5.281-15.52-14.24-15.52-24 c0-17.922,15.681-29.281,40.001-29.281C224.031,107.15,239.552,118.83,239.552,137.23z M180.51,186.352 c0,9.441,6.721,14.721,19.041,14.721c12.32,0,19.2-5.119,19.2-14.721c0-9.279-6.88-14.561-19.2-14.561 C187.23,171.791,180.51,177.072,180.51,186.352z M183.391,138.83c0,8.002,5.76,12.48,16.16,12.48c10.4,0,16.16-4.479,16.16-12.48 c0-8.318-5.76-12.959-16.16-12.959C189.15,125.871,183.391,130.512,183.391,138.83z'/%3E%3Cpath d='M292.864,120.932c4.735,13.975,7.137,28.592,7.137,43.5c0,74.752-60.816,135.568-135.569,135.568 S28.862,239.184,28.862,164.432c0-74.754,60.816-135.568,135.569-135.568c14.91,0,29.527,2.4,43.5,7.137V5.832 C193.817,1.963,179.24,0,164.432,0C73.765,0,0.001,73.764,0.001,164.432s73.764,164.432,164.431,164.432 S328.862,255.1,328.862,164.432c0-14.807-1.962-29.385-5.831-43.5H292.864z'/%3E%3Cpolygon points='284.659,44.111 284.659,12.582 261.987,12.582 261.987,44.111 230.647,44.111 230.647,66.781 261.987,66.781 261.987,98.309 284.659,98.309 284.659,66.781 316.186,66.781 316.186,44.111 '/%3E%3C/svg%3E%0A");
    }
  }
}

.target-container {

  box-sizing: border-box;
  position: absolute;
  z-index: 10;

  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: center;
}

.target {
  position: relative;

  margin: auto auto;
  padding: 10px;
  width: 100%;

  background-color: rgba(253, 253, 253);

  overflow: auto;

  transition: all 1s;

  &-title {
    font-size: 18px;
    font-weight: 700;
  }

  &-name {
    text-transform: uppercase;
  }

  &-text {
    line-height: 1.2;
  }

  &-about, &-question {
    padding: 5px 0;

    text-align: left;

    img {
      height: 150px;
      width: auto;
    }
  }

  &-answer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &-answer_text {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 200px;
    padding: 5px 0;

    label {
      font-size: 18px;
      font-weight: 700;
      padding-bottom: 10px;
    }
  }

  &-answer_selfie {
    position: relative;

    margin: 5px 0;
    width: 70px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    label {
      z-index: 2;

      width: 70px;
      height: 100%;

      line-height: 50px;
      font-size: 16px;
      font-weight: 700;

      border: 1px solid var(--color-black);
      border-radius: 2px;

      cursor: pointer;

      &:hover {
        background-color: var(--color-green-transparent);
      }
    }

    input {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      opacity: 0;
    }
  }

  &-buttons {
    margin-top: 15px;
  }

  &-success {
    width: 100px;
    height: 100px;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cellipse style='fill:%2332BEA6;' cx='256' cy='256' rx='256' ry='255.832'/%3E%3Cpolygon style='fill:%23FFFFFF;' points='235.472,392.08 114.432,297.784 148.848,253.616 223.176,311.52 345.848,134.504 391.88,166.392 '/%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");
  }

  &-fail {
    width: 100px;
    height: 100px;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cellipse style='fill:%23E04F5F;' cx='256' cy='256' rx='256' ry='255.832'/%3E%3Cg transform='matrix(-0.7071 0.7071 -0.7071 -0.7071 77.26 32)'%3E%3Crect x='3.98' y='-427.615' style='fill:%23FFFFFF;' width='55.992' height='285.672'/%3E%3Crect x='-110.828' y='-312.815' style='fill:%23FFFFFF;' width='285.672' height='55.992'/%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");
  }

  &-close {
    position: absolute;
    top: 5px;
    right: 5px;

    width: 30px;
    height: 30px;

    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m256 512c-141.160156 0-256-114.839844-256-256s114.839844-256 256-256 256 114.839844 256 256-114.839844 256-256 256zm0-475.429688c-120.992188 0-219.429688 98.4375-219.429688 219.429688s98.4375 219.429688 219.429688 219.429688 219.429688-98.4375 219.429688-219.429688-98.4375-219.429688-219.429688-219.429688zm0 0'/%3E%3Cpath d='m347.429688 365.714844c-4.679688 0-9.359376-1.785156-12.929688-5.359375l-182.855469-182.855469c-7.144531-7.144531-7.144531-18.714844 0-25.855469 7.140625-7.140625 18.714844-7.144531 25.855469 0l182.855469 182.855469c7.144531 7.144531 7.144531 18.714844 0 25.855469-3.570313 3.574219-8.246094 5.359375-12.925781 5.359375zm0 0'/%3E%3Cpath d='m164.570312 365.714844c-4.679687 0-9.355468-1.785156-12.925781-5.359375-7.144531-7.140625-7.144531-18.714844 0-25.855469l182.855469-182.855469c7.144531-7.144531 18.714844-7.144531 25.855469 0 7.140625 7.140625 7.144531 18.714844 0 25.855469l-182.855469 182.855469c-3.570312 3.574219-8.25 5.359375-12.929688 5.359375zm0 0'/%3E%3C/svg%3E");

    cursor: pointer;
  }
}


