html {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: var(--color-black);
  font-size: 14px;
}

* {
  font-family: inherit;
}

#app {
  display: flex;
  justify-content: center;
}


.text-container {
  max-width: 720px;
  text-align: left;
  padding: 20px 15px;

  p {
    line-height: 1.3;
  }

  b {
    font-weight: 600;
  }

  .buttons {
    display: flex;
  }
}

h1 {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin: 22px 0;
}

h3 {
  margin: 10px 0;
  font-weight: 600;
}

p {
  margin: 20px 0;
}

ol {
  margin: 10px 0;
  padding: 0 5px 0 15px;
  list-style: decimal;
}

ul {
  margin: 10px 0;
  padding: 0 5px 0 35px;
  list-style: disc;
  text-align: left;
}

li {
  margin: 10px 0;
  line-height: 1.3;

  ol, ul {
    padding-left: 7px;
  }
}

.socials {
  display: flex;
  justify-content: end;
  margin: 20px 0;

  .social {
    width: 25px;
    height: 25px;

    background-size: contain;

    &.vk {
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 202 202' id='VK_Logo' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cstyle%3E.st0%7Bclip-path:url(%23SVGID_2_);fill:%235181b8%7D.st1%7Bfill-rule:evenodd;clip-rule:evenodd;fill:%23fff%7D%3C/style%3E%3Cg id='Base'%3E%3Cdefs%3E%3Cpath id='SVGID_1_' d='M71.6 5h58.9C184.3 5 197 17.8 197 71.6v58.9c0 53.8-12.8 66.5-66.6 66.5H71.5C17.7 197 5 184.2 5 130.4V71.5C5 17.8 17.8 5 71.6 5z'/%3E%3C/defs%3E%3Cuse xlink:href='%23SVGID_1_' overflow='visible' fill-rule='evenodd' clip-rule='evenodd' fill='%235181b8'/%3E%3CclipPath id='SVGID_2_'%3E%3Cuse xlink:href='%23SVGID_1_' overflow='visible'/%3E%3C/clipPath%3E%3Cpath class='st0' d='M0 0h202v202H0z'/%3E%3C/g%3E%3Cpath id='Logo' class='st1' d='M162.2 71.1c.9-3 0-5.1-4.2-5.1h-14c-3.6 0-5.2 1.9-6.1 4 0 0-7.1 17.4-17.2 28.6-3.3 3.3-4.7 4.3-6.5 4.3-.9 0-2.2-1-2.2-4V71.1c0-3.6-1-5.1-4-5.1H86c-2.2 0-3.6 1.7-3.6 3.2 0 3.4 5 4.2 5.6 13.6v20.6c0 4.5-.8 5.3-2.6 5.3-4.7 0-16.3-17.4-23.1-37.4-1.4-3.7-2.7-5.3-6.3-5.3H42c-4 0-4.8 1.9-4.8 4 0 3.7 4.7 22.1 22.1 46.4C70.9 133 87.2 142 102 142c8.9 0 10-2 10-5.4V124c0-4 .8-4.8 3.7-4.8 2.1 0 5.6 1 13.9 9 9.5 9.5 11.1 13.8 16.4 13.8h14c4 0 6-2 4.8-5.9-1.3-3.9-5.8-9.6-11.8-16.4-3.3-3.9-8.2-8-9.6-10.1-2.1-2.7-1.5-3.9 0-6.2 0-.1 17.1-24.1 18.8-32.3z'/%3E%3C/svg%3E");
    }

    &.fb {
      background-image: url("data:image/svg+xml,%3Csvg enable-background='new 0 0 24 24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3ClinearGradient id='SVGID_1_' gradientTransform='matrix(0 -1.982 -1.844 0 -132.522 -51.077)' gradientUnits='userSpaceOnUse' x1='-37.106' x2='-26.555' y1='-72.705' y2='-84.047'%3E%3Cstop offset='0' stop-color='%23fd5'/%3E%3Cstop offset='.5' stop-color='%23ff543e'/%3E%3Cstop offset='1' stop-color='%23c837ab'/%3E%3C/linearGradient%3E%3Cpath d='m1.5 1.633c-1.886 1.959-1.5 4.04-1.5 10.362 0 5.25-.916 10.513 3.878 11.752 1.497.385 14.761.385 16.256-.002 1.996-.515 3.62-2.134 3.842-4.957.031-.394.031-13.185-.001-13.587-.236-3.007-2.087-4.74-4.526-5.091-.559-.081-.671-.105-3.539-.11-10.173.005-12.403-.448-14.41 1.633z' fill='url(%23SVGID_1_)'/%3E%3Cpath d='m11.998 3.139c-3.631 0-7.079-.323-8.396 3.057-.544 1.396-.465 3.209-.465 5.805 0 2.278-.073 4.419.465 5.804 1.314 3.382 4.79 3.058 8.394 3.058 3.477 0 7.062.362 8.395-3.058.545-1.41.465-3.196.465-5.804 0-3.462.191-5.697-1.488-7.375-1.7-1.7-3.999-1.487-7.374-1.487zm-.794 1.597c7.574-.012 8.538-.854 8.006 10.843-.189 4.137-3.339 3.683-7.211 3.683-7.06 0-7.263-.202-7.263-7.265 0-7.145.56-7.257 6.468-7.263zm5.524 1.471c-.587 0-1.063.476-1.063 1.063s.476 1.063 1.063 1.063 1.063-.476 1.063-1.063-.476-1.063-1.063-1.063zm-4.73 1.243c-2.513 0-4.55 2.038-4.55 4.551s2.037 4.55 4.55 4.55 4.549-2.037 4.549-4.55-2.036-4.551-4.549-4.551zm0 1.597c3.905 0 3.91 5.908 0 5.908-3.904 0-3.91-5.908 0-5.908z' fill='%23fff'/%3E%3C/svg%3E");
    }

    & + .social {
      margin-left: 10px;
    }
  }
}